In [1]:
import pandas as pd

df=pd.read_csv(r'C:\Users\user\Diani_Hotels.csv')

df.head()

,Hotel,Distance_from_beach,Description,Rating
0,The Villa Luxury Suites Hotel,650 m from beach,Travel Sustainable property,4
1,Ocean Village Club (Adults Only),Beachfront,Travel Sustainable property,4
2,Baobab Beach Resort & Spa,Beachfront,Travel Sustainable property,4
3,Diani Reef Beach Resort & Spa,Beachfront,Travel Sustainable property,5
4,Bahari Dhow Beach Villas,Beachfront,"Featuring free WiFi and air conditioning, Baha...",3

In [2]:
df.Hotel.str.contains('Villa').value_counts()

False    19
True      6
Name: Hotel, dtype: int64

In [3]:
df.Hotel.str.contains('Hotel').value_counts()

False    20
True      5
Name: Hotel, dtype: int64